Package: com.hexipa.ru
Name: Last Island Of Survival best iOS hack
Version: 0.2
Architecture: iphoneos-arm
Description: Developer telegram @jailbreaked @hehipa
Maintainer: @jailbreaked
Author: Saveli
